In [22]:
import pandas as pd
import re

In [14]:
data = {'mail':[1,2,2,1,3,',sf','0zm',12.58,3,1],'city':['a','a','b','d','c','c','e','a','f','g']}
data = pd.DataFrame(data)

In [15]:
data

    mail city
0      1    a
1      2    a
2      2    b
3      1    d
4      3    c
5    ,sf    c
6    0zm    e
7  12.58    a
8      3    f
9      1    g

In [19]:
data['mail']=data['mail'].apply(lambda x:str(x))

In [20]:
#根据数据的长度取舍
def xx(d):
    if len(d)>2:
        return "True"
    else:
        return "False"

In [21]:
data['mail'].apply(xx)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8    False
9    False
Name: mail, dtype: object

In [25]:
#根据是否是数字取舍
def isnum(d):
    pattern = r'^\D'
    if re.match(pattern,d):
        return "True"
    else:
        return "False"

In [28]:
data['mail'].apply(isnum)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: mail, dtype: object

In [29]:
#是否在一些特定的范围内
li = ['12.58','0zm']
data[data['mail'].isin(li)]

    mail city
6    0zm    e
7  12.58    a